<div class="mdl-mini-footer--left-section sns-list">
    <!-- Twitter -->
    {{ if .Site.Params.sns_twitter }}
        <a href="{{ .Site.Params.sns_twitter }}" target="_blank">
            <button class="mdl-mini-footer--social-btn social-btn" style="background-image: url({{ .Site.Params.img_footerico }}twitter.png);">
                <span class="visuallyhidden">Twitter</span>
            </button><!--
     --></a>
    {{ end }}

    <!-- Facebook -->
    {{ if .Site.Params.sns_facebook }}
        <a href="{{ .Site.Params.sns_facebook }}" target="_blank">
            <button class="mdl-mini-footer--social-btn social-btn" style="background-image: url({{ .Site.Params.img_footerico }}facebook.png);">
                <span class="visuallyhidden">Facebook</span>
            </button><!--
     --></a>
    {{ end }}

    <!-- Google + -->
    {{ if .Site.Params.sns_googleplus }}
        <a href="{{ .Site.Params.sns_googleplus }}" target="_blank">
            <button class="mdl-mini-footer--social-btn social-btn" style="background-image: url({{ .Site.Params.img_footerico }}gplus.png);">
                <span class="visuallyhidden">Google Plus</span>
            </button><!--
     --></a>
    {{ end }}

    <!-- Weibo -->
    {{ if .Site.Params.sns_weibo }}
        <a href="{{ .Site.Params.sns_weibo }}" target="_blank">
            <button class="mdl-mini-footer--social-btn social-btn" style="background-image: url({{ .Site.Params.img_footerico }}weibo.png);">
                <span class="visuallyhidden">Weibo</span>
            </button><!--
     --></a>
    {{ end }}

    <!-- Instagram -->
    {{ if .Site.Params.sns_instagram }}
        <a href="{{ .Site.Params.sns_instagram }}" target="_blank">
            <button class="mdl-mini-footer--social-btn social-btn" style="background-image: url({{ .Site.Params.img_footerico }}instagram.png);">
                <span class="visuallyhidden">Instagram</span>
            </button><!--
     --></a>
    {{ end }}

    <!-- Tumblr -->
    {{ if .Site.Params.sns_tumblr }}
        <a href="{{ .Site.Params.sns_tumblr }}" target="_blank">
            <button class="mdl-mini-footer--social-btn social-btn" style="background-image: url({{ .Site.Params.img_footerico }}tumblr.png);">
                <span class="visuallyhidden">Tumblr</span>
            </button><!--
     --></a>
    {{ end }}

    <!-- Github -->
    {{ if .Site.Params.sns_github }}
        <a href="{{ .Site.Params.sns_github }}" target="_blank">
            <button class="mdl-mini-footer--social-btn social-btn" style="background-image: url({{ .Site.Params.img_footerico }}github.png);">
                <span class="visuallyhidden">Github</span>
            </button><!--
     --></a>
    {{ end }}

    <!-- LinkedIn -->
    {{ if .Site.Params.sns_linkedin }}
        <a href="{{ .Site.Params.sns_linkedin }}" target="_blank">
            <button class="mdl-mini-footer--social-btn social-btn" style="background-image: url({{ .Site.Params.img_footerico }}linkedin.png);">
                <span class="visuallyhidden">LinkedIn</span>
            </button><!--
     --></a>
    {{ end }}

    <!-- Zhihu -->
    {{ if .Site.Params.sns_zhihu }}
        <a href="{{ .Site.Params.sns_zhihu }}" target="_blank">
            <button class="mdl-mini-footer--social-btn social-btn" style="background-image: url({{ .Site.Params.img_footerico }}zhihu.png);">
                <span class="visuallyhidden">Zhihu</span>
            </button><!--
     --></a>
    {{ end }}

    <!-- Bilibili -->
    {{ if .Site.Params.sns_bilibili }}
        <a href="{{ .Site.Params.sns_bilibili }}" target="_blank">
            <button class="mdl-mini-footer--social-btn social-btn" style="background-image: url({{ .Site.Params.img_footerico }}bilibili.png);">
                <span class="visuallyhidden">Bilibili</span>
            </button><!--
     --></a>
    {{ end }}

    <!-- Telegram -->
    {{ if .Site.Params.sns_telegram }}
        <a href="{{ .Site.Params.sns_telegram }}" target="_blank">
            <button class="mdl-mini-footer--social-btn social-btn" style="background-image: url({{ .Site.Params.img_footerico }}telegram.png);">
                <span class="visuallyhidden">Telegram</span>
            </button><!--
     --></a>
    {{ end }}
</div>
