<script type="text/javascript" src="{{ "/js/nprogress.js" | relURL }}"></script>

<script type="text/javascript">
    NProgress.configure({
        showSpinner: true
    });
    NProgress.start();

    $('#nprogress .bar').css({
        'background': '{{ .Site.Params.uiux_nprogress_color }}'
    });
    $('#nprogress .peg').css({
        'box-shadow': '0 0 10px {{ .Site.Params.uiux_nprogress_color }}, 0 0 15px {{ .Site.Params.uiux_nprogress_color }}'
    });
    $('#nprogress .spinner-icon').css({
        'border-top-color': '{{ .Site.Params.uiux_nprogress_color }}',
        'border-left-color': '{{ .Site.Params.uiux_nprogress_color }}'
    });

    setTimeout(function() {
        NProgress.done();
        $('.fade').removeClass('out');
    }, {{ .Site.Params.uiux_nprogress_buffer }});
</script>
